body {
  background-color: lightgray;
  width: 1000px;
  margin: 0 auto;
  font-family: "Tahoma", Geneva, sans-serif;
  border-style: solid;
  border-width: 4px;
  border-color: #333;
}

header {
  text-align: center;
  margin: 0 20px;
  color: #333;
}

 h1 {
  font-size: 36px;
  padding: 12px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 23px;
}

h4 {
  font-size: 16px;
}

nav {
  font-size: 18px;
}

nav form {
  display: inline;
}

nav form .text-box {
  width: 30%;
}

nav form .submit-button {
  border: none;
  background-color: #333;
  color: white;
}
/*
.sort-by-age {
  width: 6em;
} */

img {
  max-height: 100px;
  max-width: 200px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: lightgray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

b {
  font-weight: bold;
}

#content {
  padding: 0 20px;
}

#statistics {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

#statistics h4 {
  display: inline-block;
  vertical-align: middle;
}

.comedian {
  padding: 10px 10px;
}

.comedian a {

}

.comedian a:link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.comedian a:visited {
    text-decoration: none;
    color: #444;
}

.comedian a:hover {
    text-decoration: underline;
    color: darkred;
}

.comedian h2 {
  padding: 0 0 15px 0;
}

.comedian h3 {
  padding: 5px 0 5px 45px;
}

.all-specials {
  display: flex;
  justify-content: space-between;
}

.specials {
  padding: 20px;
}
