body {
  background-color: #DED6D6;
  width: 1070px;
  margin: 0 auto;
  font-family: "Tahoma", Geneva, sans-serif;
  border-style: solid;
  border-width: 4px;
  border-color: #7E7579;
  border-radius: 7px;
}

header {
  text-align: center;
  margin: 0 20px;
  color: #333;
}

h1 {
  font-size: 36px;
  padding: 12px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 23px;
}

h4 {
  font-size: 16px;
}

nav {
  font-size: 18px;
}

nav form {
  display: inline;
}

nav form .text-box {
  width: 30%;
}

nav form .submit-button {
  border: none;
  background-color: #333;
  color: white;
}
/*
.sort-by-age {
  width: 6em;
} */

img {
  clip: rect(100px, 200px);
  height: 100px;
  width: 150px;
  border: solid;
  border-color: lightslategrey;
  border-width: 2px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 7px;
}

li {
    float: left;
}

li a {
    display: block;
    color: lightgray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

b {
  font-weight: bold;
}

#content {
  padding: 0 20px;
}

#statistics {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}

#statistics h4 {
  display: inline-block;
  vertical-align: middle;
}

.comedian {
  padding: 10px 10px;
}

.comedian a {

}

.comedian a:link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.comedian a:visited {
    text-decoration: none;
    color: #444;
}

.comedian a:hover {
    text-decoration: underline;
    color: darkred;
}

.comedian h2 {
  padding: 0 0 15px 0;
}

.comedian h3 {
  padding: 5px 0 5px 45px;
}

.all-specials {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0 0 0;
}

.specials {
  text-align: center;
  margin: 10px;
  border-radius: 7px;
  padding: 5px;
  width: 190px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.specials h4 {
  margin: 0.4em 0;
  height: 1em;
  width: 100%;
  /* word-wrap: break-word; */
  overflow: hidden;
}

.comedian {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 7px;
  padding: 25px;
}
