<form class="new-comic" action="/comedians" method=post>
  <input type="text" name="comedian[first_name]" placeholder="First Name">
  <input type="text" name="comedian[last_name]" placeholder="Last Name">
  <input type="text" name="comedian[city]" placeholder="City">
  <input type="text" name="comedian[age]" placeholder="Age">
  <input type="submit" value="Submit">
</form>
